* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
    text-decoration: none; 
}

body{
    background-color: #1b2631;
}
  
header {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;

    .container {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1600px;
        margin: 0 auto;
        padding-left: 128px;
        padding-right: 128px;

        @media (max-width: 1025px){
            padding-left: 64px;
            padding-right: 64px;
        }

        @media (max-width: 768px) {
            padding-left: 32px;
            padding-right: 32px;
        }

        h2 {
            color: inherit;
            font-size: 2em;
        }

        nav {
            display: grid;
            grid-gap: 16px;
            grid-template-columns: repeat(3, auto);

            @media (max-width: 767px){
                display: none;
            }

            a {
                color: inherit;
                font-size: 20px;
            }
        }
    }

    &.is-scrolling {
        background-color: #121a21;

        .container {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}

.hamburger {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0px;
    transition: 0.5s;
}
  
.hamburger.is-active::before{
    transform: rotate(-45deg) translate(-8px, 6px);
}  
.hamburger.is-active::after{
    transform: rotate(45deg) translate(-8px, -7px);
} 
.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 5;
    background-color: hsl(0, 0%, 10%);
    padding-top: 120px;
    transition: 0.5s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    border-radius: 20px;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #2e2e2e;

    color: #ffffff;
}

.mobile-nav a:hover {
    background-color:#383838;
}

@media (min-width: 768px) {
    .mobile-nav{
        display: none;
    }

    .hamburger{
        display: none;
    }
}

.content-container {
    max-width: 1600px;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 128px;
    color: white;

    h1 {
        text-decoration: underline;
    }

    h2 {
        padding-top: 35px;
    }

    p {
        padding-top: 20px;
    }

    .about-content{
        display: inline-block;

        .about-image{
            float: left;
            width: 35%;
            padding: 20px;

            @media (max-width: 1025px){
                display: none;
            }
        }

        .about-text{
            float: right;
            width: 55%;

            @media (max-width: 1025px){
                width: 100%;
            }
        }

        img {
            align-content: center;
            display: block;
            max-width: 100%;
        }
    }

    @media (max-width: 1025px){
        padding-left: 64px;
        padding-right: 64px;
    }

    @media (max-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    z-index: 5;
    color: #cdcdcd;
    vertical-align: middle;
}

