{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Creates a certificate to be used with the s3 hosted static site. **NOTE: This template MUST be deployed in us-east-1**",
    "Metadata": {

    },
    "Parameters": {
        
        "FQDN": {
            "Description": "The domain name which should be linked to the certificate",
            "Type": "String",
            "AllowedPattern": "^((?!-))(xn--)?[a-z0-9][a-z0-9-_]{0,61}[a-z0-9]{0,1}\\.(xn--)?([a-z0-9\\-]{1,61}|[a-z0-9-]{1,30}\\.[a-z]{2,})$",
            "Default": "example.com"
        }
    },

    "Resources": {

        "Certificate": {
            "Type": "AWS::CertificateManager::Certificate",
            "Properties": {
                "DomainName": { "Ref": "FQDN" },
                "ValidationMethod": "DNS"
            }
        }
    }
}