{
"AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Configures Route 53 DNS with DNSSEC for the site.",
    
    "Parameters": {
        
        "DomainName":{
            "Description":"A fully-qualified domain name.",
            "Type":"String",
            "MinLength":"1",
            "MaxLength":"64",
            "AllowedPattern":"(?!-)[a-zA-Z0-9-.]*(?<!-)",
            "ConstraintDescription":"must be a valid fully-qualified domain name.",
            "Default":"example.com"
         },
         "Comment":{
            "Description":"An optional comment about the hosted zone.",
            "Type":"String",
            "MinLength":"1",
            "MaxLength":"255",
            "AllowedPattern":"[-_ a-zA-Z0-9]*",
            "ConstraintDescription":"can contain only alphanumeric characters, spaces, dashes and underscores.",
            "Default":"Managed by CloudFormation"
         },
         "KSKArn": {
             "Description": "Arn of the Key-Signing-Key needed for Route 53 DNSSEC",
             "Type": "String"
         }
         
    },
    "Resources": {

        "HostedZone":{
            "Type":"AWS::Route53::HostedZone",
            "Properties":{
                "HostedZoneConfig":{
                   "Comment": {"Ref": "Comment"}
                },
                "Name":{"Ref": "DomainName"},
                "HostedZoneTags":[
                    {
                     "Key":"StackName",
                     "Value": {"Ref": "AWS::StackName"}
                    }
                ]
            }
        },

        "ZoneDNSSEC": {
            "DependsOn": "ZoneDNSSECSigningKey",
            "Type": "AWS::Route53::DNSSEC",
            "Properties": {
                "HostedZoneId": {"Ref": "HostedZone"}
            }
        },

        
        "ZoneDNSSECSigningKey": {
            "Type": "AWS::Route53::KeySigningKey",
            "Properties": {
                "HostedZoneId": {"Ref": "HostedZone"},
                "KeyManagementServiceArn": {"Ref": "KSKArn"},
                "Name": "kms_key",
                "Status": "ACTIVE"
            }
        }
      
    },
    "Outputs": {
        "HostedZoneName":{
            "Description": "The fully-qualified domain name.",
            "Value": {"Ref": "DomainName"}
       },
       "HostedZoneID":{
            "Description": "The ID of the Hosted Zone.",
            "Value": {"Ref": "HostedZone"}
       }
    }
}