AWSTemplateFormatVersion: 2010-09-09
Description: Lambda to enable contact forms via SNS.
Parameters: 
  application:
    Description: Application Name
    Type: String

  environment:
    Description: Environment
    Type: String

  lambdaSGList:
    Description: list of security groups to be applied to lambda function
    Type: CommaDelimitedList
  
  lambdaSubnetList:
    Description: list of security groups to be applied to lambda function
    Type: CommaDelimitedList

  lambdaImageRepo:
    Type: String
    Description: URI of the ECR Repository hosting the lambda code

Resources: 

  lambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      Description: Backend service to enable dynamic contact forms
      FunctionName: !Join
        - "-"
        - - !Ref application
          - !Ref environment
          - contact-backend
      MemorySize: 128
      Role: !GetAtt lambdaExecutionRole.Arn
      VpcConfig:
        SecurityGroupIds: !Ref lambdaSGList
        SubnetIds: !Ref lambdaSubnetList
      Environment:
        Variables:
          CONTACT_SENDER_EMAIL: !Ref senderEmail
          CONTACT_DESTINATION_EMAIL: !Ref destinationEmail
          CONTACT_SENDER_IDENTITY: !Ref senderIDArn
      Code:
        ImageUri: !Sub "${lambdaImageRepo}:latest"
      PackageType: Image
      Tags:
        - Key: application
          Value: !Ref application
        - Key: environment
          Value: !Ref environment

  lambdaPermission:
    Type: AWS::Lambda::Permission
    Properties: 
      Action: "lambda:invokeFunctionUrl"
      FunctionName: !GetAtt lambdaFunction.Arn
      FunctionUrlAuthType: "NONE"
      Principal: "*"
  
  lambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service: "lambda.amazonaws.com"
            Action: "sts:AssumeRole"
          - Effect: "Allow"
            Principal:
              Service: "events.amazonaws.com"
            Action: "sts:AssumeRole"
      Policies:
        - PolicyName: "ecr-access"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action:
                  - "ecr:BatchGetImage"
                  - "ecr:BatchCheckLayerAvailability"
                  - "ecr:CompleteLayerUpload"
                  - "ecr:GetDownloadUrlForLayer"
                Resource: !Sub
                  - "arn:aws:ecr:${AWS::Region}:${AWS::AccountId}:${repoName}"
                  - repoName: !Select [1, !Split ["/", !Ref lambdaImageRepo]]
        - PolicyName: "ses-access"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action: "ses:*"
                Resource: "*"
        - PolicyName: "vpc-access"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action:
                  - "logs:CreateLogGroup"
                  - "logs:CreateLogStream"
                  - "logs:PutLogEvents"
                  - "ec2:CreateNetworkInterface"
                  - "ec2:DescribeNetworkInterfaces"
                  - "ec2:DeleteNetworkInterface"
                  - "ec2:AssignPrivateIpAddresses"
                  - "ec2:UnassignPrivateIpAddresses"
                Resource: "*"
      RoleName: !Join 
        - "-"
        - - !Ref application
          - !Ref environment
          - "lambda"
      Tags:
          - Key: application
            Value: !Ref application
          - Key: environment
            Value: !Ref environment

  lambdaVersion:
    Type: AWS::Lambda::Version
    Properties:
      FunctionName: !Ref lambdaFunction

  lambdaURL:
    Type: AWS::Lambda::Url
    Properties: 
      AuthType: NONE
      TargetFunctionArn: !Ref lambdaFunction

Outputs:
  FunctionURL:
    Description: URL of the backend lambda function
    Value: !GetAtt lambdaURL.FunctionUrl