AWSTemplateFormatVersion: 2010-09-09
Description: Lambda to enable contact forms via SNS.
Parameters: 
  destinationEmail: 
    Description: Address that contact emails will be forwarded to
    Type: String
    AllowedPattern: ^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$

  senderEmail:
    Description: The source address of all contact emails
    Type: String
    AllowedPattern: ^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$

  senderIDArn:
    Description: ARN for SES verified sender identity
    Type: String
  
  application:
    Description: Application Name
    Type: String

  environment:
    Description: Environment
    Type: String

  functionCorsDomains:
    Description: A comma-separated list of domains that allow access to the backend service
    Type: CommaDelimitedList

  lambdaSGList:
    Description: list of security groups to be applied to lambda function
    Type: CommaDelimitedList
  
  lambdaSubnetList:
    Description: list of security groups to be applied to lambda function
    Type: CommaDelimitedList

  GitHubCIUserArn:
    Description: Arn for the GitHub Actions user
    Type: String

Resources: 
  lambdaImageRepo:
    Type: AWS::ECR::Repository
    Properties:
      RepositoryName: !Sub "${application}-${environment}-lambda"
      RepositoryPolicyText:
        Version: "2012-10-17"
        Statement:
          Sid: "AllowPushPull"
          Effect: "Allow"
          Principal:
            - !Ref GitHubCIUserArn
          Action:
            - "ecr:BatchGetImage"
            - "ecr:BatchCheckLayerAvailability"
            - "ecr:CompleteLayerUpload"
            - "ecr:GetDownloadUrlForLayer"
            - "ecr:InitiateLayerUpload"
            - "ecr:PutImage"
            - "ecr:UploadLayerPart"
      Tags:
        - Key: application
          Value: !Ref application
        - Key: environment
          Value: !Ref environment  

  lambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      Description: Backend service to enable dynamic contact forms
      FunctionName: !Join
        - "-"
        - - !Ref application
          - !Ref environment
          - contact-backend
      MemorySize: 128
      Role: !Ref lambdaExecutionRole
      VpcConfig:
        SecurityGroupIds: !Ref lambdaSGList
        SubnetIds: !Ref lambdaSubnetList
      Environment:
        Variables:
          CONTACT_SENDER_EMAIL: !Ref senderEmail
          CONTACT_DESTINATION_EMAIL: !Ref destinationEmail
          CONTACT_SENDER_IDENTITY: !Ref senderIDArn
      Code:
        ImageUri: !Sub "${lambdaImageRepo.RepositoryUri}:latest"
      PackageType: Image
      Tags:
        - Key: application
          Value: !Ref application
        - Key: environment
          Value: !Ref environment

  lambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      Path:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service: "lambda.amazonaws.com"
            Action: "sts:AssumeRole"
          - Effect: "Allow"
            Principal:
              Service: "events.amazonaws.com"
            Action: "sts:AssumeRole"
      Policies:
        - PolicyName: "ECR Access"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action:
                  - "ecr:BatchGetImage"
                  - "ecr:BatchCheckLayerAvailability"
                  - "ecr:CompleteLayerUpload"
                  - "ecr:GetDownloadUrlForLayer"
                Resource: "ecr:*"
        - PolicyName: "SES Access"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action: "ses:*"
                Resource: "ses:*"
    RoleName: !Join
      - "-"
      - - !Ref application
        - !Ref environment
        - "lambda"
    Tags:
        - Key: application
          Value: !Ref application
        - Key: environment
          Value: !Ref environment

  lambdaVersion:
    Type: AWS::Lambda::Version
    Properties:
      FunctionName: !Ref lambdaFunction

  lambdaURL:
    Type: AWS::Lambda::Url
    Properties: 
      AuthType: NONE
      Cors: 
        Access-Control-Allow-Credentials: FALSE
        Access-Control-Allow-Methods:
          - POST
        Access-Control-Allow-Origin: !Ref functionCorsDomains
      TargetFunctionArn: !Ref lambdaFunction

Outputs:
  FunctionURL:
    Description: URL of the backend lambda function
    Value: !GetAtt lambdaURL.FunctionUrl