{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Deploys a static site to AWS via s3 hosting and HTTPS via CloudFront.",
    "Metadata": {

    },

    "Parameters": {
        
        "Application": {
            "Type": "String",
            "Description": "What application is this?"
        },

        "Environment": {
            "Type": "String",
            "AllowedValues": ["dev", "prod"],
            "Description": "Which environment are we in?"
        }
    },
    
    "Resources": {

        "s3HostingBucket": {
            "Type": "AWS::S3::Bucket",
            "Properties": {
                "AccessControl": "PublicRead",
                "BucketName": {
                    "Fn::Join": ["-", [{
                        "Ref": "Application"
                    }, {
                        "Ref": "Environment"
                    }]]
                },
                "WebsiteConfiguration": {
                    "IndexDocument": "index.html",
                    "ErrorDocument": "404.html"
                }
            }
        },

        "s3HostingBucketPolicy": {
            "Type": "AWS::S3::BucketPolicy",
            "Properties": {
                "Bucket": {
                    "Ref": "s3HostingBucket"
                },
                "PolicyDocument": {
                    "Id": "Web-Hosting-Policy",
                    "Version": "2012-10-17",
                    "Statement": {
                        "Sid": "PublicReadForGetBucketObjects",
                        "Effect": "Allow",
                        "Principal": "*",
                        "Action": "s3:GetObject",
                        "Resource": {
                            "Fn::Join": [
                                "arn:aws:s3:::", {
                                    "Ref": "s3HostingBucket"
                                },
                                "/*"
                            ]
                        }
                    }
                }
            }
        }

        
    }
}

        