{
"AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Creates a Key Signing Key to be used in Route 53 DNSSEC. **NOTE: This template MUST be deployed in us-east-1** ",

    "Parameters": {
    
    },
    
    "Resources": {
        "DNSSECKMSKey": {
            "Type" : "AWS::KMS::Key",
            "DeletionPolicy": "Retain",
            "UpdateReplacePolicy": "Delete",
            "Properties" : {
                "Description": "Key to be used to sign DNS records",
                "Enabled": true,
                "KeySpec": "ECC_NIST_P256",
                "KeyUsage": "SIGN_VERIFY",
                "Tags": [
                    {
                     "Key":"StackName",
                     "Value": {"Ref": "AWS::StackName"}
                    }
                ],
                "KeyPolicy": {
                    "Version": "2012-10-17",
                    "Id": "DNSSEC",
                    "Statement": [
                      {
                        "Sid": "AllowKeyAdministration",
                        "Effect": "Allow",
                        "Principal": {
                          "AWS": {"Fn::Sub": "arn:aws:iam::${AWS::AccountId}:root"}
                        },
                        "Action": [
                            "kms:Create*",
                            "kms:Describe*",
                            "kms:Enable*",
                            "kms:List*",
                            "kms:Put*",
                            "kms:Update*",
                            "kms:Revoke*",
                            "kms:Disable*",
                            "kms:Get*",
                            "kms:Delete*",
                            "kms:TagResource",
                            "kms:UntagResource",
                            "kms:ScheduleKeyDeletion",
                            "kms:CancelKeyDeletion",
                            "kms:Sign"
                        ],
                        "Resource": "*"
                      },
                      {
                        "Sid": "Allow Route 53 DNSSEC Service",
                        "Effect": "Allow",
                        "Principal": {
                          "Service": "dnssec-route53.amazonaws.com"
                        },
                        "Action": [
                            "kms:DescribeKey",
                            "kms:GetPublicKey",
                            "kms:Sign"
                        ],
                        "Resource": "*"
                      },
                      {
                        "Sid": "Allow Route 53 DNSSEC to CreateGrant",
                        "Effect": "Allow",
                        "Principal": {
                          "Service": "dnssec-route53.amazonaws.com"
                        },
                        "Action": [
                            "kms:CreateGrant"
                        ],
                        "Resource": "*",
                        "Condition": {"Bool": {"kms:GrantIsForAWSResource": true}}
                      }
                    ]
                }
            }
        }
    },
    "Outputs": {
        
        "KSKArn" : {
             "Description": "Arn of Key Signing Key to be used with DNSSEC",
             "Value" : {"Fn::GetAtt": [ "DNSSECKMSKey", "Arn" ]}
        }
        
    }
}