@font-face{
    font-family: AppleSFBold;
    src: url(../assets/SF-Pro-Display-Bold.otf);
}

* {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: AppleSFBold;
}

.content {
    text-align: center;
}