* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

a, a:visited {
  color: #FFF;
}

body {
  background-color: #1b2631;
}

header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

header .container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}

@media (max-width: 1025px) {
  header .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (max-width: 768px) {
  header .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

header .container h2 {
  color: inherit;
  font-size: 2em;
}

header .container nav {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

@media (max-width: 767px) {
  header .container nav {
    display: none;
  }
}

header .container nav a {
  color: inherit;
  font-size: 20px;
}

header .container nav a:hover {
  font-weight: bold;
}

header.is-scrolling {
  background-color: #121a21;
}

header.is-scrolling .container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.hamburger {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hamburger.is-active::before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
          transform: rotate(45deg) translate(-8px, -7px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 5;
  background-color: #1a1a1a;
  padding-top: 120px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  border-radius: 20px;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #2e2e2e;
  color: #FFF;
}

.mobile-nav a:hover {
  background-color: #383838;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  color: #1b2631 !important;
  font-size: 20px;
  background-color: #c0cfdd;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.button#more {
  display: none;
}

.button#more.is-active {
  display: inline-block;
}

.button#less {
  display: none;
}

.button#less.is-active {
  display: inline-block;
}

@media (max-width: 767px) {
  .button {
    font-size: 18px;
  }
}

.content-container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
  padding-top: 128px;
  color: white;
}

.content-container h1 {
  text-decoration: underline;
}

.content-container h2 {
  margin-top: 20px;
}

.content-container h2 a {
  text-decoration: underline;
}

.content-container .projects {
  padding-top: 64px;
  padding-bottom: 64px;
}

.content-container .projects .projects-grid {
  display: -ms-grid;
  display: grid;
  margin-bottom: 16px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.content-container .projects .projects-grid#grid2 {
  display: none;
}

@media (max-width: 768px) {
  .content-container .projects .projects-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .content-container .projects .projects-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.content-container .projects .projects-grid .project {
  background-color: #3f444a;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  overflow: hidden;
}

.content-container .projects .projects-grid .project#aws {
  background-image: url(/assets/images/svg/aws.svg);
}

.content-container .projects .projects-grid .project#nginx {
  background-image: url(/assets/images/svg/nginx.svg);
}

.content-container .projects .projects-grid .project#linux {
  background-image: url(/assets/images/svg/tux.svg);
}

.content-container .projects .projects-grid .project#java {
  background-image: url(/assets/images/svg/java.svg);
}

.content-container .projects .projects-grid .project#python {
  background-image: url(/assets/images/svg/py.svg);
}

.content-container .projects .projects-grid .project#javascript {
  background-image: url(/assets/images/svg/js.svg);
}

.content-container .projects .projects-grid .project#vmware {
  background-image: url(/assets/images/svg/vmware.svg);
}

.content-container .projects .projects-grid .project#cisco {
  background-image: url(/assets/images/svg/cisco.svg);
}

.content-container .projects .projects-grid .project#fortinet {
  background-image: url(/assets/images/svg/fortinet.svg);
}

.content-container .projects .projects-grid .project#github {
  background-image: url(/assets/images/svg/github.svg);
}

.content-container .projects .projects-grid .project#docker {
  background-image: url(/assets/images/svg/docker.svg);
}

.content-container .projects .projects-grid .project#kali {
  background-image: url(/assets/images/svg/kali.svg);
}

.content-container .projects .projects-grid .project#splunk {
  background-image: url(/assets/images/svg/splunk.svg);
}

.content-container .projects .projects-grid .project .content {
  opacity: 0;
  color: #FFF;
  padding: 16px;
  background-color: rgba(41, 41, 41, 0.8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-container .projects .projects-grid .project .content h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .content-container .projects .projects-grid .project .content h3 {
    font-size: 28px;
  }
}

.content-container .projects .projects-grid .project .content p {
  font-size: 18px;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .content-container .projects .projects-grid .project .content p {
    font-size: 16px;
  }
}

.content-container .projects .projects-grid .project:hover .content {
  opacity: 1;
}

.content-container .projects .projects-grid.is-active {
  display: -ms-grid !important;
  display: grid !important;
}

.content-container .projects .view-more {
  margin-top: 16px;
}

.content-container .projects .center {
  text-align: center;
}

@media (max-width: 1025px) {
  .content-container {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (max-width: 768px) {
  .content-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  z-index: 5;
  color: #cdcdcd;
  vertical-align: middle;
}
/*# sourceMappingURL=tools.css.map */