@font-face{
    font-family: AppleSFBold;
    src: url(SF-Pro-Display-Bold.otf);
}
@font-face {
    font-family: AppleSFText;
    src: url(SanFranciscoText-Regular.otf);
}

* {
    text-decoration: none;
    margin: 0px 0px;
}

body {
    background-color: #1b2631;
}
h1, h2, h3, h4, h5 {
    font-family: AppleSFBold;
    color: #cdcdcd;
}
h1 {
    font-size: 42px;
    text-decoration: underline;
    padding-top: 30px;
    padding-bottom: 30px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
    padding-bottom: 5px;
}
p {
    font-size: 18px;
    font-family: AppleSFText;
    color: #cdcdcd;
    padding-top: 20px;
}
img {
    display: block;
    max-width: 100%;
}


a {
    font-family: AppleSFBold;
    color: #cdcdcd; 
}
a:hover {
    color: azure !important;
    transition: color 0.2s;
    transition-timing-function: ease;
}
a:visited {
    color: #cdcdcd;
}
a:active {
    color: #aed6f1;
}

.title {
    font-size: 32px;
    padding-top: 5px !important;
    color: azure !important;
}

.nav {
    font-family: AppleSFBold;
    font-size: 22px;
    padding: 8px 10px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 
.nav li {
    float: left;
    text-align: center;
    padding: 14px 16px;
    display: block;
}  
  
.error-content {
    text-align: center;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    z-index: 5;
    position: relative;
}

.container {
    padding-top: 25px;
    padding-inline: auto;
    margin-inline: auto;
    width: min(90%, 70.5rem)
}

.about-content{
    display: inline-block;
}

.about-content .about-image{
    float: left;
    width: 35%;
    padding: 20px;
    display: inline-block;
}
.about-content .about-text{
    float: right;
    width: 55%;
    margin: 10px;
    display: inline-block;
}
.about-content img {
    vertical-align: middle;
    align-content: center;
}

.tile-content {
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px; 
    margin-bottom: 20px;
    height: max-content;
    overflow: auto;
    background-color: #3F444A;
}
.tile-image {
    float: left;
    width: 25%;
}
.tile-image img {
    vertical-align: middle;
    max-height: max(7.5rem);
}
.tile-image .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.tile-text {
    float: right;
    width: 70%;
}
.tile-content p {
    padding: 0;
}
.tile-content li{
    font-family: AppleSFText;
    text-align: center;
    color: #cdcdcd;
    display: block;
    float: left;
    padding: 7px;
    margin: 5px;
    background-color: rgba(0, 145, 255, 0.201);
    border-radius: 15px;
}
.tile-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.tile-content a :hover{
    background-color: #1b2631;
    color: #aed6f1;
    transition: color 0.2s;
    transition-timing-function: ease-in-out;
}
.tool-highlights{
    margin-top: 10px;
}

.clr{
    clear: both;
    font-size: 0;
}

.side-image {
    left: 0;
    bottom: 0;
    z-index: 0;
    position: fixed;
    padding-top: auto;
}
.side-image img {
    width: 375px;
    height: 436px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    z-index: 5;
    color: #cdcdcd;
    vertical-align: middle;
}