@font-face{
    font-family: AppleSFBold;
    src: url(SF-Pro-Display-Bold.otf);
}
@font-face {
    font-family: AppleSFText;
    src: url(SF-Pro-Text-Regular.otf);
}

* {
    text-decoration: none;
    margin: 0px 0px;
}

body {
    background-color: #1b2631;
}
h1, h2, h3, h4, h5 {
    font-family: AppleSFBold;
    color: #cdcdcd;
}
h1 {
    padding-top: 30px;
    padding-bottom: 30px;
}
h2 {
    font-size: 30px;
}
p {
    font-family: AppleSFText;
    color: #cdcdcd;
    padding-top: 20px;
}


a {
    font-family: AppleSFBold;
    color: #cdcdcd; 
}
a:hover {
    color: azure !important;
    transition: color 0.2s;
    transition-timing-function: ease;
}
a:visited {
    color: #cdcdcd;
}
a:active {
    color: #aed6f1;
}

.nav {
    z-index: 5;
    position: relative;
    font-family: AppleSFBold;
    font-size: 22px;
    padding: 8px 10px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 
.nav li {
    float: left;
    text-align: center;
    padding: 14px 16px;
    display: block;
}  
  
.error-content {
    text-align: center;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    z-index: 5;
    position: relative;
}

.container {
    padding-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

.side-image {
    left: 0;
    bottom: 0;
    z-index: 0;
    position: fixed;
    padding-top: auto;
}
.side-image img {
    width: 375px;
    height: 436px;
}